* { /* setting standard font and sizing for whole page*/
    margin: 0;
    padding: 0;
    box-sizing: inherit;  
    font-family: inherit;
}

body { /*changing the line height, font and positioning of the main body*/
    box-sizing: border-box;
    position: relative;
    line-height: 1.5;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Source Sans Pro',sans-serif;
}

header {
    display: block;  /*change the display type of the header*/
}

.header {   /*adding the shadow effect to the header and using zindex to bring it to the front*/
    position: fixed;
    width: 100%;
    background: #fff;
    box-shadow: 0 10px 100px rgb(0 0 0 / 10%);
    z-index: 1;
}

.name { /*styling my name to the size and position i like*/
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    padding-left: 20px;
}

.headerContent { /* pushing the different part of the header to the edges using flex, and centering them vertically*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
}

.headerLeft { /*change the text color and adding a transition color*/
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #333;
    transition: color .3s;
}

ul { /* poistioniung the nav bar*/
    display: block;
    list-style-type: disc;
    padding-inline-start: 40px;
}

.links { /* postioning the links and making them side by side*/
    display: flex;
}

li { /*getting rid of the underline and dotpoints*/
    list-style: none;
}

.navlink { /* adding a transition and moving the nav bar around to where necessary*/
    padding: 2.2rem 2rem;
    display: inline-block;
    font-size: 1.6rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 800;
    transition: color 0.3s;
    align-items: center;
}

.headshot { /*scaling the image in the top left*/
    width: 5%;
    height: 5%;
    min-width: 80px;
    object-fit: cover;
    object-position: center;
    display: block;
}

a { /*getting rid of the underline hyper link*/
    text-decoration: none;
}

li a:hover {  /*adding the hover effect the the nav bar*/
    color: #fd9f53;
    transition: color 0.3s;
}

.socials {  /*moving the socials bar on the left of the screen and adding shadow*/
    position: absolute;
    transform: translateY(150%);
    background: #fff;
    box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
    padding: 0.5rem;
}

.sociallink { /*changing the width of the socaisl bar*/
    width: 5rem;
}

.icon { /* sizing the images withing the socials bar*/
    max-width: 3rem;
    margin: 1rem;
}

.hero {  /*setting the size and color for the landing page */
    color: #fff;
    width: 100%;
    min-height: 80rem;
    max-height: 120rem;
    position: relative;
    background-position: center;
}

.heroimg { /*changing the opacity of the bg image and height so it covers the screen*/
    opacity: 0.5;
    height: 100vh;
    width: 100vw;
}

.heroContent { /*moving the content so it overlays the bg img*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 90rem;
    width: 92%;
}

.header1 { /*styling the first header with size, color and boldness*/
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    color: #111;
    font-weight: 800;
}

.subheader {/*styling the caption with size, color and boldness*/
    color:#111;
    font-size: 2.2rem;
    text-align: center;
    width: 100%;
    line-height: 1.6;
    margin: 3rem auto 0 auto;
    max-width: 80%;
}

.mousescroll {/*moving the mouse scrolling animation*/
    position: absolute;
    top: 80vh;
    left: 50%;
    transform: translateX(-50%);
}

.mouse {/*adjusting the size of the mouse scrolling animation*/
    width: 25px;
    height: 50px;
    border: 2px solid black;
    border-radius: 60px;
    position: relative;
    overflow: hidden;
}

.mouse::before { /*creating the mouse scrolling animation*/
    content: "";
    width: 5px;
    height: 5px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    border-radius: 50%;
    animation: mouse 1.5s infinite;
}
.herobutton { /*styling the projects button on the landing page*/
    margin-top: 6rem;
    text-align: center;
}

.buttonbg {/*styling the projects button on the landing page*/
    padding: 1.5rem 8rem;
    font-size: 2rem;
}

.button {/*styling the projects button on the landing page*/
    display: inline-block;
    font-weight: 800;
    background: #fd9f53;
    color: #333;
    letter-spacing: 1px;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
    transition: transform 0.3s;
}

.button:hover { /*adding the bounce effect to the button*/
    transform: translateY(-8px);
}

div {
    display: block;
}

*, ::after, ::before { /*universal stlying for before andf after*/
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
}

.name:hover {   /*adding the color change to my name (purely aesthetic*/
    color:#fd9f53;
    transition: color 0.3s;
}

.aboutme { /*moving the about mne section so there isnt a gap and change the bg color*/
    background: #fafafa;
    transform: translateY(-10px);
}

.aboutme h2 { /*adjusting the h2 tag within the aboutme section*/
    font-size: 4.5rem;
    font-weight: 650;
    text-align: center;
    font-family: inherit;
    letter-spacing: 5px;
    color: #111;
    margin-bottom: 3rem;
    padding-top: 15rem;
}

/* .aboutme h2::after {    
    position: absolute;
    border: 2px solid #fd9f53;
    background: #fd9f53;
    border-radius: 10px ;
    content: "";
    height: 5px;
    width: 3%;
    left: 50%;
    transform: translateX(-50%);
    top: 27vh;
} */

.aboutme p { /*changling color, size and positioning of the sentence under about me*/
    font-family: inherit;
    font-size: 2rem;
    color: #333;
    margin-bottom: 40px;
    display: block;
    text-align: center;
    line-height: 1.6;
    max-width: 80rem;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.aboutcontent { /*creating the container around the more about me and my skills so it is easier to move and position*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 15vh;
}

.aboutleft {    /*setting size limits for the more about me section*/
    max-width: 25%;
    margin-right: 10rem;
}

.aboutleft h3 { /*ajusitng size of the more about me */
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 3rem;
}

.aboutleft span { /*styling the 3 spans in the more about me section, size and display type etc*/
    font-family: inherit;
    font-size: 1.6rem;
    color: #333;
    margin-bottom: 40px;
    display: block;
    line-height: 1.6;
    max-width: 80rem;
    margin: auto;
    margin-bottom: 2rem;
}

span a { /*styling the links within the more about me section*/
    color: #fd9f53;
    font-weight: bolder;
    text-decoration: underline;
}

.aboutright { /*setting max width for the my skills*/
    max-width: 25%;
}

.aboutright h3 { /*styling adn shifting the my skills hjeader*/
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 3rem;
    text-indent: 4rem;
}

.aboutright ul { /*making the skills area flex wrap so it fits nicely in the area*/
    display: flex;
    flex-wrap: wrap;
}

.aboutright ul li { /*styling the skills so they have the grey box spacing*/
    padding: 1rem 2rem;
    margin-bottom: 2.5rem;
    margin-right: 1.5rem;
    font-size: 1.6rem;
    background: rgba(153,153,153,.2);
    border-radius: 5px;
    font-weight: 600;
    color: #666;
}

.project .h2 { /*changing the color and size of the header for projects*/
    font-size: 4.5rem;
    font-weight: 650;
    text-align: center;
    font-family: inherit;
    letter-spacing: 5px;
    color: #111;
    margin-bottom: 3rem;
    padding-top: 15rem;
}

/* .project h2::after {
    position: absolute;
    border: 2px solid #fd9f53;
    background: #fd9f53;
    border-radius: 10px ;
    content: "";
    height: 5px;
    width: 3%;
    left: 50%;
    transform: translateX(-50%);
    top: 228vh;
} */

.projectmain img { /*adjusting the size of the main project img*/
    display: block;
    width: 50%;
    margin: auto;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}

.projectmain img:hover { /*creating the animation for making the image grow when you hover*/
    transform: scale(1.03);
    opacity: 1;
    transition: opacity 0.3s;
}

.projectss {  /*coloring and adding flex to the smaller projects so the wrap nicely*/
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}

.projectsmall { /*  setting the max ssize for the small project images*/
    margin: 2rem;
    max-width: 20%;
}

.projectsmall img {/*adjusting the size of the other project images*/
    max-width: 100%;
    border: 2px solid black;
    opacity: 0.5;
    transition: all 0.3s ease-in;
}

.projectsmall img:hover {/*creating the animation for making the image grow when you hover*/
    transform: scale(1.05);
    opacity: 1;
    transition: opacity 0.5s;
}

.contact h2 {  /* moving, sizing and coloring the header for the contact me page*/
    font-size: 4.5rem;
    font-weight: 650;
    text-align: center;
    font-family: inherit;
    letter-spacing: 5px;
    color: #111;
    margin-bottom: 5%;
    padding-top: 20rem;
    position: absolute; 
    bottom: 105vh;
    left: 50%;
    transform: translateX(-50%);
}

.contact h2::after {/*adding the little orange dash under the header*/
    position: absolute;
    border: 2px solid #fd9f53;
    background: #fd9f53;
    border-radius: 10px ;
    content: "";
    height: 5px;
    width: 25%;
    left: 50%;
    transform: translateX(-50%);
    top: 30vh;
}

form { /*styling the contactme form with the shadow, size and positions*/
    display: block;
    max-width: 50%;
    min-width: 40%;

    margin: auto;
    border: 2px solid white;
    background: #fff;
    border-radius: 20px;
    padding: 5rem;
    position: absolute;
    bottom: 70vh;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: rgb(100 100 111 / 20%) 0 10px 29px 0;
}

.contactlabel {/*color and sizing, also left aligning the name, email and messgae labels*/
    color: #666;
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 1rem;
    display: block;
    text-align: left;
}

.contactforminput { /*adding the box for the inputs so it is different from the rest of the form.*/
    color:#333;
    padding: 2rem;
    width: 100%;
    border: 1px solid #ebebeb;
    font-size: 1.6rem;
    letter-spacing: 0;
    background: #f0f0f0;
    border-radius: 5px;
    font-weight: 600;
    margin-bottom: 4rem;
}

textarea { /*gets rid of the corner where you can resize the message box (really annoying otherwise)*/
    resize: none;
}

.formbutton { /*styling the submit button at the bottom of the page*/
    display: flex;
    height: 75%;
    width: 75%;
    text-align: center;
    background: #fd9f53;
    color: #333;
    letter-spacing: 1px;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
    transition: transform 0.3s;
    padding: 1.5rem 4rem;
    border: none;
    margin: auto;
}
.formbutton a {
    text-align: center;
    width: 100%;
    font-weight: 800;
    font-size: x-large;
    color: black;
}
hr {
    position: absolute;
    border: 2px solid #fd9f53;
    background: #fd9f53;
    border-radius: 10px ;
    height: 5px;
    width: 5%;
    margin-bottom: 2rem;
    left:50%;
    transform: translateX(-50%);
}

.formbutton:hover { /*adding the bounce animations when you hover on the submit button*/
    transform: translateY(-3px); 
}

footer { /*bg color and text color for the footer*/
    background: #000;
    color:#fff;
}

.footerbox { /*making the footer not the full width of the page*/
    max-width: 120rem;
    margin: auto;
    width: 92%;
}

.footertop { /*pushing the two parts of the flex box to either end and adding the grey line at the bottom*/
    display: flex;
    justify-content: space-between;
    padding: 8rem 0;
    border-bottom: solid #333;
}

.footerleft { /* seeting max width and default width for the left part of the footer*/
    width: 40%;
    max-width: 50rem;
}

.footerright h2 { /*styling the h2 header on the right*/
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footerleft h2 {/*styling the h2 header on the left*/
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footerright a img { /*postitioning and sizing the little images in the footer that link to my socials*/
    margin-top: 2rem;
    width: 2.5rem;
    margin-right: 1rem;
}

.footerleft p { /*sizing the passage under the left header*/
    margin-top: 2rem;
    font-size: 1.5rem;
    line-height: 1.7;
}

.footerbottom { /*center aligning and sizing the texts below the fainy grey line*/
    text-align: center;
    font-size: 1.6rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

@media only screen and (max-width: 768px) { /*scaling all of the text sizes down when viewing on a small device,*/
    html {
        font-size: 50%;
        scroll-behavior: smooth;
    }
    .contact h2 {  /* moving, sizing and coloring the header for the contact me page*/
        margin-bottom: 5%;
        padding-top: 15rem;
        position: absolute; 
        bottom: 120vh;
    }
    .contact h2::after {/*adding the little orange dash under the header*/
        display: none;
    }
    form {
        padding: 2rem;
        bottom: 50vh;
    }
    .project h2::after {/*adding the little orange dash under the header*/
        display: none
    }
    .aboutme h2::after {    /*adding the little orange dash under the header*/
        display: none;
    }
    .mousescroll {/*moving the mouse scrolling animation*/
        top: 80vh;

    }

}

@media only screen and (min-width: 768px) { /*accidentally had this on when coding the whole thing, had min-width instead of max-width, so without this all of the text looks massive so decided to keep it in 
    rather than changeing everything. also adds the smooth scrolling animation when you navigate within the page*/
    html {
        font-size: 65%;
        scroll-behavior: smooth;
    }
}

@keyframes transform { /*animation for moving buttons*/
    from{
        bottom: 10px;
    }
    to{
        bottom: 100px;
    }
}

@keyframes mouse { /*animation for the little dot moving downwards on the landing page (mouse scroller)*/
    from{
        opacity: 1;
        bottom: 50px;
    }
    to{
        opacity: 0;
        top: 30px;
    }
}

